.container {
  max-width: 1200px;
  margin: auto;
}

html {
  width: 100vw;
}

body {
  width: 100vw;
  height: 400vh;
  background-image: url("../img/bg1.png") contain;
}

.header {
  overflow: hidden;
  height: 80px;
  width: 100vw;
  background-color: #fff8f8;
  padding-top: 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-box-shadow: -5px 5px 17px 1px rgba(150, 94, 104, 0.2);
          box-shadow: -5px 5px 17px 1px rgba(150, 94, 104, 0.2);
  z-index: 100;
}

.header-content {
  position: relative;
  right: -3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header-search {
  display: inline;
  -webkit-box-shadow: -5px 5px 17px 1px rgba(150, 94, 104, 0.18);
          box-shadow: -5px 5px 17px 1px rgba(150, 94, 104, 0.18);
  width: 134px;
  height: 30px;
  border-radius: 10px;
  border: none;
  outline: none;
  color: #590010;
  padding-left: 5px;
  background-color: #f7f3f3;
}

.menu-links {
  display: inline;
  text-decoration: none;
  color: #590010;
}

.phone-links {
  position: relative;
  right: -30%;
  display: inline;
  text-decoration: none;
  color: #590010;
}

.header-icons {
  position: relative;
  right: 2%;
}

@media screen and (max-width: 768px) {
  .header-search {
    display: none;
  }
  .menu-links {
    display: none;
  }
  .phone-links {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .menu-links {
    position: relative;
    left: 5%;
  }
  .logo {
    position: relative;
    left: 55%;
  }
  .header-search {
    display: none;
  }
  .phone-links {
    display: none;
  }
}

.hero img {
  position: absolute;
  left: 50%;
  top: 90%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.menu-in-circle-1 {
  background-color: #f2ecec;
  width: 670px;
  height: 662px;
  border-radius: 50%;
  border: 1px solid #c4a8ac;
  opacity: 1;
  width: 670px;
  height: 662px;
  position: absolute;
  left: 50%;
  top: 90%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.menu-in-circle-1 img {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.menu-in-circle-1 h3 {
  position: absolute;
  left: 37%;
  top: 0%;
  font-size: 30px;
}

.menu-in-circle-1 p {
  display: inline;
  position: absolute;
  font-size: 16px;
  top: 60%;
  padding: 10px 10px;
  margin-top: 20px;
  left: 65%;
}

.menu-in-circle-1 a {
  position: absolute;
  font-size: 18px;
  padding: 3px 20px;
  top: 75%;
  left: 66.5%;
}

.menu-in-circle-2 {
  background-color: #f3f5f2;
  width: 670px;
  height: 662px;
  border-radius: 50%;
  border: 1px solid #c4a8ac;
  opacity: 1;
  position: absolute;
  left: 50%;
  top: 90%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.menu-in-circle-2 img {
  width: 70%;
  position: relative;
  top: 50%;
}

.menu-in-circle-2 h3 {
  position: relative;
  top: -80%;
  left: 38%;
  font-size: 30px;
}

.menu-in-circle-2 p {
  font-size: 16px;
  position: relative;
  left: 70%;
  top: -30%;
}

.menu-in-circle-2 a {
  position: absolute;
  font-size: 18px;
  padding: 3px 20px;
  top: 75%;
  left: 70%;
}

.menu-in-circle-3 {
  background-color: #f7f0e9;
  width: 670px;
  height: 662px;
  border-radius: 50%;
  border: 1px solid #c4a8ac;
  opacity: 1;
  position: absolute;
  left: 50%;
  top: 90%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.menu-in-circle-3 img {
  width: 70%;
  position: relative;
  top: 50%;
}

.menu-in-circle-3 h3 {
  position: relative;
  top: -95%;
  left: 45%;
  font-size: 30px;
}

.menu-in-circle-3 p {
  font-size: 16px;
  position: relative;
  left: 10%;
  top: -80%;
}

.menu-in-circle-3 a {
  position: absolute;
  font-size: 18px;
  padding: 3px 20px;
  top: 38%;
  left: 10%;
}

.menu-in-circle-4 {
  background-color: #f3f5f2;
  width: 670px;
  height: 662px;
  border-radius: 50%;
  border: 1px solid #c4a8ac;
  opacity: 1;
  position: absolute;
  left: 50%;
  top: 90%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.menu-in-circle-4 img {
  width: 90%;
  position: relative;
  top: 50%;
}

.menu-in-circle-4 h3 {
  position: relative;
  top: -78%;
  left: 40%;
  font-size: 30px;
}

.menu-in-circle-4 p {
  font-size: 16px;
  position: relative;
  left: 15%;
  top: -70%;
}

.menu-in-circle-4 a {
  position: absolute;
  font-size: 18px;
  padding: 3px 20px;
  top: 31%;
  left: 15%;
}

.menu-in-circle-5 {
  background-color: #f2ecec;
  width: 670px;
  height: 662px;
  border-radius: 50%;
  border: 1px solid #c4a8ac;
  opacity: 1;
  position: absolute;
  left: 50%;
  top: 90%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.menu-in-circle-5 img {
  width: 90%;
  position: relative;
  top: 50%;
  left: 55%;
}

.menu-in-circle-5 h3 {
  position: relative;
  top: -60%;
  left: 32%;
  font-size: 30px;
}

.menu-in-circle-5 p {
  font-size: 16px;
  position: relative;
  left: 15%;
  top: -55%;
}

.menu-in-circle-5 a {
  position: absolute;
  font-size: 18px;
  padding: 3px 20px;
  top: 32%;
  left: 15%;
}

.menu-in-circle-6 {
  background-color: #f5f2e1;
  width: 670px;
  height: 662px;
  border-radius: 50%;
  border: 1px solid #c4a8ac;
  opacity: 1;
  position: absolute;
  left: 50%;
  top: 90%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.menu-in-circle-6 img {
  width: 55%;
  position: relative;
  top: 50%;
  left: 55%;
}

.menu-in-circle-6 h3 {
  position: relative;
  top: -85%;
  left: 45%;
  font-size: 30px;
}

.menu-in-circle-6 p {
  font-size: 16px;
  position: relative;
  left: 15%;
  top: -55%;
}

.menu-in-circle-6 a {
  position: absolute;
  font-size: 18px;
  padding: 3px 20px;
  top: 53%;
  left: 15%;
}

.circle-2 {
  position: absolute;
  left: 50%;
  top: 90%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 670px;
  height: 662px;
  border-radius: 50%;
}

.hero .menu-circle__1 {
  z-index: 10;
  background-color: #590010;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -11.5%;
  opacity: 50%;
}

.hero .menu-circle__1:hover {
  z-index: 10;
  background-color: #f7f3f3;
  border: 1px solid #590010;
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hero .menu-circle__2 {
  z-index: 10;
  background-color: #590010;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: -6.5%;
  opacity: 50%;
}

.hero .menu-circle__2:hover {
  z-index: 10;
  background-color: #f7f3f3;
  border: 1px solid #590010;
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hero .menu-circle__3 {
  z-index: 100;
  background-color: #590010;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  position: absolute;
  top: 0%;
  left: 13%;
  opacity: 50%;
}

.hero .menu-circle__3:hover {
  cursor: pointer;
  z-index: 100;
  background-color: #f7f3f3;
  border: 1px solid #590010;
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hero .menu-circle__4 {
  z-index: 10;
  background-color: #590010;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  position: absolute;
  top: -11.5%;
  left: 48%;
  opacity: 50%;
}

.hero .menu-circle__4:hover {
  z-index: 10;
  background-color: #f7f3f3;
  border: 1px solid #590010;
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hero .menu-circle__5 {
  z-index: 10;
  background-color: #590010;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  position: absolute;
  top: 0%;
  left: 85%;
  opacity: 50%;
}

.hero .menu-circle__5:hover {
  z-index: 10;
  background-color: #f7f3f3;
  border: 1px solid #590010;
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hero .menu-circle__6 {
  z-index: 10;
  background-color: #590010;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 105%;
  opacity: 50%;
}

.hero .menu-circle__6:hover {
  z-index: 10;
  background-color: #f7f3f3;
  border: 1px solid #590010;
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hero .menu-circle__7 {
  z-index: 10;
  background-color: #590010;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 110%;
  opacity: 50%;
}

.hero .menu-circle__7:hover {
  z-index: 10;
  background-color: #f7f3f3;
  border: 1px solid #590010;
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 1024px) {
  .hero img {
    width: 90%;
  }
  .circle-2 {
    z-index: 10;
    width: 603px;
    height: 596px;
  }
  .hero .menu-circle__1 {
    top: 50%;
    left: -6.5%;
  }
  .hero .menu-circle__2 {
    left: -1.5%;
  }
  .hero .menu-circle__3 {
    left: 14%;
    top: 6%;
  }
  .hero .menu-circle__4 {
    top: -6.5%;
  }
  .hero .menu-circle__5 {
    top: 6%;
    left: 84.5%;
  }
  .hero .menu-circle__6 {
    left: 99%;
  }
  .hero .menu-circle__7 {
    left: 104.5%;
  }
  .menu-in-circle-1 img {
    width: 75%;
  }
  .menu-in-circle-2 img {
    width: 70%;
  }
  .menu-in-circle-3 img {
    width: 70%;
  }
  .menu-in-circle-6 img {
    width: 55%;
  }
}

@media screen and (max-width: 768px) {
  .hero img {
    width: 90%;
  }
  .menu-in-circle-1 {
    width: 503px;
    height: 506px;
  }
  .menu-in-circle-2 {
    width: 503px;
    height: 506px;
  }
  .menu-in-circle-3 {
    width: 503px;
    height: 506px;
  }
  .menu-in-circle-4 {
    width: 503px;
    height: 506px;
  }
  .menu-in-circle-5 {
    width: 503px;
    height: 506px;
  }
  .menu-in-circle-6 {
    width: 503px;
    height: 506px;
  }
  .menu-in-circle-7 {
    width: 503px;
    height: 506px;
  }
  .circle-2 {
    z-index: 10;
    width: 543px;
    height: 506px;
  }
  .hero .menu-circle__1 {
    top: 50%;
    left: 2.5%;
  }
  .hero .menu-circle__2 {
    left: 8%;
  }
  .hero .menu-circle__3 {
    left: 24.5%;
    top: 6%;
  }
  .hero .menu-circle__4 {
    top: -1.5%;
  }
  .hero .menu-circle__5 {
    top: 6%;
    left: 72.5%;
  }
  .hero .menu-circle__6 {
    left: 90%;
  }
  .hero .menu-circle__7 {
    left: 95%;
  }
  .menu-in-circle-1 p {
    font-size: 14px;
    left: 60%;
  }
  .menu-in-circle-1 img {
    width: 65%;
  }
  .menu-in-circle-1 a {
    left: 62%;
    top: 80%;
  }
  .menu-in-circle-2 img {
    width: 70%;
    left: 48%;
  }
  .menu-in-circle-2 p {
    font-size: 14px;
    left: 65%;
    top: -40%;
  }
  .menu-in-circle-2 a {
    left: 65%;
    top: -38%;
  }
  .menu-in-circle-3 img {
    width: 70%;
  }
  .menu-in-circle-4 img {
    top: 58%;
  }
  .menu-in-circle-5 h3 {
    left: 28%;
  }
  .menu-in-circle-5 img {
    top: 58%;
  }
  .menu-in-circle-6 img {
    width: 55%;
  }
  .menu-in-circle-6 p {
    left: 8%;
  }
  .menu-in-circle-6 a {
    left: 8%;
  }
}

.about {
  overflow: hidden;
  width: 80%;
  height: 544px;
  position: absolute;
  top: 130%;
  left: 10%;
  -webkit-box-shadow: -1px 2px 17px 15px rgba(242, 235, 236, 0.63);
          box-shadow: -1px 2px 17px 15px rgba(242, 235, 236, 0.63);
  background-color: #f7f3f3;
}

.about .about-signature {
  position: absolute;
  top: -8%;
  left: 55%;
  font-size: 50px;
  font-weight: 900;
  color: #590010;
  opacity: 50%;
}

.about-circle-2 {
  position: absolute;
  top: 5%;
  z-index: 10;
  width: 600px;
  height: 600px;
  top: 60%;
  left: 20%;
  border: 1px solid rgba(89, 0, 16, 0.2);
}

.florist-block {
  position: absolute;
  left: 20%;
  top: 60%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background-color: #f5f2e1;
}

.curier-block {
  position: absolute;
  left: 20%;
  top: 60%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background-color: #f2ecec;
}

.florist {
  position: absolute;
  width: 90%;
  left: 0%;
  opacity: 95%;
}

.curier {
  position: absolute;
  top: 17%;
  left: 10%;
  width: 90%;
}

.signature-features {
  opacity: 1;
  width: 100%;
  position: absolute;
  left: 105%;
  top: 5%;
}

.signature-features h3 {
  position: relative;
  font-size: 36px;
  color: #590010;
}

.signature-features h2 {
  font-size: 24px;
  font-weight: 300;
  color: #590010;
}

.signature-features p {
  font-size: 24px;
  font-weight: 300;
  color: #590010;
}

.signature-features a {
  position: absolute;
  font-size: 18px;
  padding: 3px 20px;
  top: 100%;
  left: 0%;
}

.menu-circle__2-1 {
  display: block;
  background-color: rgba(89, 0, 16, 0.5);
  height: 13px;
  width: 13px;
  border-radius: 50%;
  position: relative;
  top: 5%;
  left: 24.5%;
}

.menu-circle__2-1:hover {
  background-color: #f7f3f3;
  border: 1px solid #590010;
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu-circle__2-2 {
  display: block;
  background-color: rgba(89, 0, 16, 0.5);
  height: 13px;
  width: 13px;
  border-radius: 50%;
  position: relative;
  top: -3%;
  left: 53%;
}

.menu-circle__2-2:hover {
  background-color: #f7f3f3;
  border: 1px solid #590010;
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu-circle__2-3 {
  display: block;
  background-color: rgba(89, 0, 16, 0.5);
  height: 13px;
  width: 13px;
  border-radius: 50%;
  position: relative;
  top: 8%;
  left: 83%;
}

.menu-circle__2-3:hover {
  background-color: #f7f3f3;
  border: 1px solid #590010;
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu-circle__2-4 {
  display: block;
  background-color: rgba(89, 0, 16, 0.5);
  height: 13px;
  width: 13px;
  border-radius: 50%;
  position: relative;
  top: 30%;
  left: 97.5%;
}

.menu-circle__2-4:hover {
  background-color: #f7f3f3;
  border: 1px solid #590010;
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu-circle__2-5 {
  display: block;
  background-color: rgba(89, 0, 16, 0.5);
  height: 13px;
  width: 13px;
  border-radius: 50%;
  position: relative;
  top: 55%;
  left: 97%;
}

.menu-circle__2-5:hover {
  background-color: #f7f3f3;
  border: 1px solid #590010;
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 1024px) {
  .about .about-signature {
    width: 100%;
    top: 15%;
    left: 70%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  .signature-features {
    left: 110%;
  }
  .about {
    overflow: visible;
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: transparent;
  }
  .about-circle-2 {
    left: 30%;
  }
  .florist-block {
    left: 30%;
  }
  .curier-block {
    left: 30%;
  }
  .signature-features {
    top: 30%;
    left: 105%;
  }
  .signature-features h3 {
    font-size: 30px;
  }
  .signature-features h2 {
    font-size: 20px;
  }
  .signature-features p {
    font-size: 20px;
  }
  .florist {
    left: 4%;
  }
}

@media screen and (max-width: 768px) {
  .about-circle-2 {
    top: 70%;
    left: 50%;
  }
  .florist-block {
    top: 70%;
    left: 50%;
  }
  .curier-block {
    top: 70%;
    left: 50%;
  }
  .about .about-signature {
    width: 70%;
    top: 0%;
    left: -6%;
  }
  .signature-features {
    top: 10%;
    left: 15%;
  }
  .signature-features h3 {
    font-size: 26px;
  }
  .signature-features h2 {
    font-size: 18px;
  }
  .signature-features p {
    font-size: 18px;
  }
  .curier-block .signature-features {
    top: 0%;
    left: 50%;
  }
  .curier-block .signature-features h3 {
    margin-bottom: -0.5%;
  }
}

#houseplants-back-arrow {
  position: absolute;
  left: 10%;
  top: 40%;
}

#houseplants-next-arrow {
  position: absolute;
  left: 90%;
  top: 40%;
}

.houseplants .slide-1 {
  position: relative;
  left: 4.5%;
  padding-top: -1%;
}

.houseplants .slide-1 img {
  width: 40%;
}

.houseplants .slide-1 h5 {
  font-size: 30px;
  font-weight: 500;
  color: #590010;
  position: absolute;
  top: 60%;
  left: -10%;
}

.houseplants .slide-1 h4 {
  font-size: 24px;
  color: #590010;
  font-weight: 400;
  position: absolute;
  top: 60%;
  left: 35%;
}

.houseplants .slide-1 a {
  position: absolute;
  font-size: 18px;
  padding: 3px 20px;
  top: 100%;
  left: 0%;
}

.houseplants .slide-2 {
  position: relative;
  left: 4.5%;
  padding-top: -1%;
}

.houseplants .slide-2 img {
  width: 40%;
}

.houseplants .slide-2 h5 {
  font-size: 30px;
  font-weight: 500;
  color: #590010;
  position: absolute;
  top: 60%;
  left: -10%;
}

.houseplants .slide-2 h4 {
  font-size: 24px;
  color: #590010;
  font-weight: 400;
  position: absolute;
  top: 60%;
  left: 35%;
  margin-bottom: 10px;
}

.houseplants .slide-2 a {
  position: absolute;
  font-size: 18px;
  padding: 3px 20px;
  top: 100%;
  left: 0%;
}

.houseplants .slide-3 {
  position: relative;
  left: 4.5%;
  padding-top: -1%;
}

.houseplants .slide-3 img {
  width: 40%;
}

.houseplants .slide-3 h5 {
  font-size: 30px;
  font-weight: 500;
  color: #590010;
  position: absolute;
  top: 60%;
  left: -10%;
}

.houseplants .slide-3 h4 {
  font-size: 24px;
  color: #590010;
  font-weight: 400;
  position: absolute;
  top: 60%;
  left: 35%;
  margin-bottom: 10px;
}

.houseplants .slide-3 a {
  position: absolute;
  font-size: 18px;
  padding: 3px 20px;
  top: 100%;
  left: 0%;
}

.fresh-flowers {
  width: 100%;
  height: 544px;
  background-color: #f7f3f3;
  position: relative;
  top: 63%;
}

.fresh-flowers .slide-1 {
  position: relative;
  left: 3.5%;
}

.fresh-flowers .slide-1 img {
  width: 40%;
}

.fresh-flowers .slide-1 h5 {
  font-size: 30px;
  font-weight: 500;
  color: #590010;
  position: absolute;
  top: 70%;
  left: -15%;
}

.fresh-flowers .slide-1 h4 {
  font-size: 24px;
  color: #590010;
  font-weight: 400;
  position: absolute;
  top: 65%;
  left: 40%;
}

.fresh-flowers .slide-1 a {
  position: absolute;
  top: 100%;
  left: 0%;
}

.fresh-flowers .slide-2 {
  position: relative;
  padding-top: -10%;
  left: 3%;
}

.fresh-flowers .slide-2 img {
  width: 50%;
}

.fresh-flowers .slide-2 h5 {
  font-size: 30px;
  font-weight: 500;
  color: #590010;
  position: absolute;
  top: 70%;
  left: -8%;
}

.fresh-flowers .slide-2 h4 {
  font-size: 24px;
  color: #590010;
  font-weight: 400;
  position: absolute;
  top: 65%;
  left: 40%;
}

.fresh-flowers .slide-2 a {
  position: absolute;
  top: 100%;
  left: 0%;
}

.fresh-flowers .slide-3 {
  position: relative;
  padding-top: -2%;
  left: 3.5%;
}

.fresh-flowers .slide-3 img {
  width: 35%;
}

.fresh-flowers .slide-3 h5 {
  font-size: 30px;
  font-weight: 500;
  color: #590010;
  position: absolute;
  top: 70%;
  left: -8%;
}

.fresh-flowers .slide-3 h4 {
  font-size: 24px;
  color: #590010;
  font-weight: 400;
  position: absolute;
  top: 65%;
  left: 35%;
}

.fresh-flowers .slide-3 a {
  position: absolute;
  top: 100%;
  left: 0%;
}

.fresh-flowers .slide-4 {
  position: relative;
  left: 4%;
  padding-top: 0.5%;
}

.fresh-flowers .slide-4 img {
  width: 30%;
}

.fresh-flowers .slide-4 h5 {
  font-size: 30px;
  font-weight: 500;
  color: #590010;
  position: absolute;
  top: 70%;
  left: -10%;
}

.fresh-flowers .slide-4 h4 {
  font-size: 24px;
  color: #590010;
  font-weight: 400;
  position: absolute;
  top: 65%;
  left: 30%;
}

.fresh-flowers .slide-4 a {
  position: absolute;
  top: 100%;
  left: 0%;
}

#fresh-flowers-back-arrow {
  position: absolute;
  left: 10%;
  top: 50%;
}

#fresh-flowers-next-arrow {
  position: absolute;
  left: 90%;
  top: 50%;
}

@media screen and (max-width: 1120px) {
  .fresh-flowers .slide-1 {
    left: 3%;
  }
  .fresh-flowers .slide-1 img {
    width: 50%;
  }
  .fresh-flowers .slide-1 h5 {
    top: 60%;
    left: -5%;
  }
  .fresh-flowers .slide-1 h4 {
    top: 60%;
    left: 45%;
    font-size: 20px;
  }
  .fresh-flowers .slide-2 {
    left: 2%;
  }
  .fresh-flowers .slide-2 img {
    width: 60%;
  }
  .fresh-flowers .slide-2 h5 {
    top: 60%;
    left: -3%;
  }
  .fresh-flowers .slide-2 h4 {
    top: 60%;
    left: 50%;
    font-size: 20px;
  }
  .fresh-flowers .slide-3 {
    left: 2.5%;
  }
  .fresh-flowers .slide-3 img {
    width: 45%;
  }
  .fresh-flowers .slide-3 h5 {
    top: 60%;
    left: -7%;
  }
  .fresh-flowers .slide-3 h4 {
    top: 60%;
    left: 45%;
    font-size: 20px;
  }
  .fresh-flowers .slide-4 {
    left: 4%;
  }
  .fresh-flowers .slide-4 img {
    width: 40%;
  }
  .fresh-flowers .slide-4 h5 {
    top: 60%;
    left: -15%;
  }
  .fresh-flowers .slide-4 h4 {
    top: 60%;
    left: 30%;
    font-size: 20px;
  }
}

@media screen and (max-width: 920px) {
  .fresh-flowers .slide-1 {
    left: 2%;
  }
  .fresh-flowers .slide-1 img {
    width: 70%;
  }
  .fresh-flowers .slide-1 h5 {
    top: 70%;
    font-size: 20px;
  }
  .fresh-flowers .slide-1 h4 {
    top: 70%;
    font-size: 14px;
  }
  .fresh-flowers .slide-2 {
    left: 1.5%;
  }
  .fresh-flowers .slide-2 img {
    width: 75%;
  }
  .fresh-flowers .slide-2 h5 {
    top: 70%;
    left: 8%;
    font-size: 20px;
  }
  .fresh-flowers .slide-2 h4 {
    top: 70%;
    left: 55%;
    font-size: 14px;
  }
  .fresh-flowers .slide-3 {
    left: 2.5%;
  }
  .fresh-flowers .slide-3 img {
    width: 60%;
  }
  .fresh-flowers .slide-3 h5 {
    top: 70%;
    font-size: 20px;
  }
  .fresh-flowers .slide-3 h4 {
    top: 70%;
    font-size: 14px;
  }
  .fresh-flowers .slide-4 {
    left: 3.5%;
  }
  .fresh-flowers .slide-4 img {
    width: 55%;
  }
  .fresh-flowers .slide-4 h5 {
    top: 70%;
    left: -3%;
    font-size: 20px;
  }
  .fresh-flowers .slide-4 h4 {
    top: 70%;
    left: 35%;
    font-size: 14px;
  }
}

#gifs-back-arrow {
  position: absolute;
  left: 10%;
  top: 40%;
}

#gifs-next-arrow {
  position: absolute;
  left: 90%;
  top: 40%;
}

.gifs .slide-1 {
  position: relative;
  left: 7%;
  padding-top: 1%;
}

.gifs .slide-1 img {
  width: 40%;
}

.gifs .slide-1 h5 {
  font-size: 30px;
  font-weight: 500;
  color: #590010;
  position: absolute;
  top: 60%;
  left: -10%;
}

.gifs .slide-1 h4 {
  font-size: 24px;
  color: #590010;
  font-weight: 400;
  position: absolute;
  top: 60%;
  left: 40%;
  margin-bottom: 10px;
}

.gifs .slide-1 a {
  position: absolute;
  top: 100%;
  left: 0%;
}

.gifs .slide-2 {
  position: relative;
  left: 7%;
  padding-top: -1%;
}

.gifs .slide-2 img {
  width: 30%;
}

.gifs .slide-2 h5 {
  font-size: 30px;
  font-weight: 500;
  color: #590010;
  position: absolute;
  top: 60%;
  left: -10%;
}

.gifs .slide-2 h4 {
  font-size: 24px;
  color: #590010;
  font-weight: 400;
  position: absolute;
  top: 60%;
  left: 35%;
  margin-bottom: 10px;
}

.gifs .slide-2 a {
  position: absolute;
  top: 100%;
  left: 0%;
}

#assesories-back-arrow {
  position: absolute;
  left: 10%;
  top: 40%;
}

#assesories-next-arrow {
  position: absolute;
  left: 90%;
  top: 40%;
}

.assesories .slide-1 {
  position: relative;
  left: 4.5%;
  padding-top: 1%;
}

.assesories .slide-1 img {
  width: 40%;
}

.assesories .slide-1 h5 {
  font-size: 30px;
  font-weight: 500;
  color: #590010;
  position: absolute;
  top: 60%;
  left: -10%;
}

.assesories .slide-1 h4 {
  font-size: 24px;
  color: #590010;
  font-weight: 400;
  position: absolute;
  top: 60%;
  left: 40%;
}

.assesories .slide-1 a {
  position: absolute;
  top: 100%;
  left: 0%;
}

.assesories .slide-2 {
  position: relative;
  left: 4.5%;
  padding-top: 1%;
}

.assesories .slide-2 img {
  width: 40%;
}

.assesories .slide-2 h5 {
  font-size: 30px;
  font-weight: 500;
  color: #590010;
  position: absolute;
  top: 60%;
  left: -10%;
}

.assesories .slide-2 h4 {
  font-size: 24px;
  color: #590010;
  font-weight: 400;
  position: absolute;
  top: 60%;
  left: 40%;
  margin-bottom: 10px;
}

.assesories .slide-2 a {
  position: absolute;
  top: 100%;
  left: 0%;
}

.assesories .slide-3 {
  position: relative;
  left: 4.5%;
  padding-top: -5%;
}

.assesories .slide-3 img {
  width: 40%;
}

.assesories .slide-3 h5 {
  font-size: 30px;
  font-weight: 500;
  color: #590010;
  position: absolute;
  top: 60%;
  left: -10%;
}

.assesories .slide-3 h4 {
  font-size: 24px;
  color: #590010;
  font-weight: 400;
  position: absolute;
  top: 60%;
  left: 35%;
  margin-bottom: 10px;
}

.assesories .slide-3 a {
  position: absolute;
  top: 100%;
  left: 0%;
}

#bouquets-back-arrow {
  position: absolute;
  left: 10%;
  top: 40%;
}

#bouquets-next-arrow {
  position: absolute;
  left: 90%;
  top: 40%;
}

.bouquets .slide-1 {
  position: relative;
  left: 7%;
  padding-top: 1%;
}

.bouquets .slide-1 img {
  width: 40%;
}

.bouquets .slide-1 h5 {
  font-size: 30px;
  font-weight: 500;
  color: #590010;
  position: absolute;
  top: 60%;
  left: -10%;
}

.bouquets .slide-1 h4 {
  font-size: 24px;
  color: #590010;
  font-weight: 400;
  position: absolute;
  top: 60%;
  left: 40%;
  margin-bottom: 10px;
}

.bouquets .slide-1 a {
  position: absolute;
  top: 100%;
  left: 0%;
}

.bouquets .slide-2 {
  position: relative;
  left: 7%;
  padding-top: 1%;
}

.bouquets .slide-2 img {
  width: 40%;
}

.bouquets .slide-2 h5 {
  font-size: 30px;
  font-weight: 500;
  color: #590010;
  position: absolute;
  top: 60%;
  left: -10%;
}

.bouquets .slide-2 h4 {
  font-size: 24px;
  color: #590010;
  font-weight: 400;
  position: absolute;
  top: 60%;
  left: 35%;
  margin-bottom: 10px;
}

.bouquets .slide-2 a {
  position: absolute;
  top: 100%;
  left: 0%;
}

#soil-back-arrow {
  position: absolute;
  left: 10%;
  top: 40%;
}

#soil-next-arrow {
  position: absolute;
  left: 90%;
  top: 40%;
}

.soil .slide-1 {
  position: relative;
  left: 35%;
  padding-top: 1%;
}

.soil .slide-1 img {
  width: 35%;
}

.soil .slide-1 h5 {
  font-size: 30px;
  font-weight: 500;
  color: #590010;
  position: absolute;
  top: 60%;
  left: -15%;
}

.soil .slide-1 h4 {
  font-size: 24px;
  color: #590010;
  font-weight: 400;
  position: absolute;
  top: 60%;
  left: 35%;
}

.soil .slide-1 a {
  position: absolute;
  top: 100%;
  left: 0%;
}

.offer {
  width: 80%;
  height: 544px;
  -webkit-box-shadow: -1px 2px 17px 15px rgba(242, 235, 236, 0.63);
          box-shadow: -1px 2px 17px 15px rgba(242, 235, 236, 0.63);
  background-color: #f7f3f3;
  position: relative;
  top: 55%;
}

.offer-header {
  position: relative;
  top: -30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.offer-header h3 {
  margin: auto;
  margin-bottom: 2%;
  font-size: 50px;
  font-weight: 900;
  color: #590010;
  opacity: 60%;
}

.offer-header .menu-offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80%;
  margin: auto;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(89, 0, 16, 0.2);
}

.offer-header .menu-offer a {
  text-decoration: none;
  color: #590010;
  font-size: 24px;
}

.menu-circle__3-1 {
  display: block;
  height: 13px;
  width: 13px;
  background-color: #590010;
  border-radius: 50%;
  position: absolute;
  bottom: -5%;
  left: 17%;
}

.menu-circle__3-1:hover {
  background-color: #f7f3f3;
  border: 1px solid #590010;
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu-circle__3-2 {
  display: block;
  height: 13px;
  width: 13px;
  background-color: #590010;
  border-radius: 50%;
  position: absolute;
  bottom: -5%;
  left: 31.5%;
}

.menu-circle__3-2:hover {
  background-color: #f7f3f3;
  border: 1px solid #590010;
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu-circle__3-3 {
  display: block;
  height: 13px;
  width: 13px;
  background-color: #590010;
  border-radius: 50%;
  position: absolute;
  bottom: -5%;
  left: 41.5%;
}

.menu-circle__3-3:hover {
  background-color: #f7f3f3;
  border: 1px solid #590010;
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu-circle__3-4 {
  display: block;
  height: 13px;
  width: 13px;
  background-color: #590010;
  border-radius: 50%;
  position: absolute;
  bottom: -5%;
  left: 52%;
}

.menu-circle__3-4:hover {
  background-color: #f7f3f3;
  border: 1px solid #590010;
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu-circle__3-5 {
  display: block;
  height: 13px;
  width: 13px;
  background-color: #590010;
  border-radius: 50%;
  position: absolute;
  bottom: -5%;
  left: 69%;
}

.menu-circle__3-5:hover {
  background-color: #f7f3f3;
  border: 1px solid #590010;
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu-circle__3-6 {
  display: block;
  height: 13px;
  width: 13px;
  background-color: #590010;
  border-radius: 50%;
  position: absolute;
  bottom: -5%;
  left: 81.5%;
}

.menu-circle__3-6:hover {
  background-color: #f7f3f3;
  border: 1px solid #590010;
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slider {
  width: 100%;
  position: absolute;
  top: 110%;
  left: 0%;
}

@media screen and (max-width: 768px) {
  .offer-header .menu-offer a {
    font-size: 12px;
  }
}

@media screen and (max-width: 1120px) {
  .offer-header .menu-offer a {
    font-size: 20px;
  }
  .menu-circle__3-6 {
    left: 44%;
  }
  .menu-circle__3-6 {
    left: 83%;
  }
}

.button-primary {
  border-radius: 10px;
  color: #f2ecec;
  font-size: 18px;
  text-decoration: none;
  background-color: #590010;
  padding: 3px 20px;
}

.button-primary:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: 2;
  transition: 2;
}

.button-secondary {
  border-radius: 10px;
  color: #590010;
  text-decoration: none;
  background-color: #f2ecec;
  padding: 5px 20px;
}

.button-secondary:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-transition: 2;
  transition: 2;
}

button {
  z-index: 10;
  border: none;
  outline: none;
  background-color: transparent;
}

#careers {
  width: 80%;
  height: 544px;
  position: absolute;
  top: 350%;
  left: 10%;
  -webkit-box-shadow: -1px 2px 17px 15px rgba(242, 235, 236, 0.63);
          box-shadow: -1px 2px 17px 15px rgba(242, 235, 236, 0.63);
  background-color: #f7f3f3;
}

#careers h2 {
  position: absolute;
  top: -25%;
  left: 45%;
  font-size: 50px;
  font-weight: 900;
  color: #590010;
  opacity: 60%;
}

#careers h5 {
  position: absolute;
  left: 5%;
  font-size: 36px;
  font-weight: 600;
  color: #590010;
}

#careers img {
  position: absolute;
  bottom: 0;
  left: 0;
}

#careers h4 {
  position: absolute;
  left: 60%;
  top: 15%;
  font-size: 50px;
  font-weight: 600;
  color: #590010;
}

#careers h6 {
  font-size: 24px;
  font-weight: 400;
  color: #590010;
  position: absolute;
  top: 35%;
  left: 60%;
}

#careers a {
  position: absolute;
  top: 65%;
  left: 60%;
}

@media screen and (max-width: 768px) {
  #careers h2 {
    left: 35%;
  }
  #careers h5 {
    left: 20%;
  }
  #careers h4 {
    left: 35%;
    top: 10%;
  }
  #careers h6 {
    font-size: 16px;
    left: 20%;
    top: 30%;
  }
  #careers img {
    width: 80%;
  }
  #careers a {
    top: 40%;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  height: 40vh;
  bottom: -380%;
  left: 0;
  right: 0;
  background-color: #590010;
}

footer .right-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2%;
}

footer .right-column h5 {
  color: #f7f3f3;
  font-size: 20px;
}

footer .right-column a {
  width: 25%;
}

footer .right-column input {
  outline: none;
  color: #f7f3f3;
  background-color: #590010;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  width: 70%;
}

footer .left-column {
  margin-top: 4%;
}

footer .left-column a {
  display: block;
  margin-top: 15px;
  color: #f7f3f3;
  text-decoration: none;
}

.social-media {
  position: absolute;
  bottom: 5%;
  left: 15%;
}

.social-media img {
  -webkit-transform: scale(0.7, 0.7);
          transform: scale(0.7, 0.7);
  margin-right: 12px;
}

body {
  margin: 0 0 0 0;
  background-color: #f7f3f3;
  overflow-x: hidden;
}

.main {
  background-image: url("../img/bg.png");
  background-size: 100%;
  width: 100vw;
  height: 450vh;
}
/*# sourceMappingURL=style.css.map */