.about
    overflow: hidden
    width: 80%
    height: 544px
    position: absolute
    top: 130%
    left: 10%
    box-shadow: -1px 2px 17px 15px rgba(242, 235, 236, 0.63)
    background-color: #f7f3f3
    .about-signature
        position: absolute 
        top: -8%
        left: 55%
        font-size: 50px
        font-weight: 900
        color: #590010
        opacity: 50%
.about-circle-2
    position: absolute
    top: 5%
    z-index: 10
    width: 600px
    height: 600px
    top: 60%
    left: 20%
    border: 1px solid rgba(89, 0, 16, 0.2)

.florist-block
    position: absolute
    left: 20%
    top: 60%
    margin-right: -50%
    transform: translate(-50%, -50%)  
    width: 600px
    height: 600px
    border-radius: 50%
    background-color: #f5f2e1
.curier-block
    position: absolute
    left: 20%
    top: 60%
    margin-right: -50%
    transform: translate(-50%, -50%)  
    width: 600px
    height: 600px
    border-radius: 50%
    background-color: #f2ecec
.florist
    position: absolute
    width: 90%
    left: 0%
    opacity: 95%

.curier
    position: absolute
    top: 17%
    left: 10%
    width: 90%  


.signature-features 
    opacity: 1
    width: 100%
    position: absolute
    left: 105%
    top: 5%
    h3
        position: relative
        font-size: 36px
        color: #590010

    h2 
        font-size: 24px
        font-weight: 300
        color: #590010

    p 
        font-size: 24px
        font-weight: 300
        color: #590010
    a
        position: absolute
        font-size: 18px
        padding: 3px 20px
        top: 100%
        left: 0%



//    dotes
.menu-circle__2-1
    display: block
    background-color: rgba(89, 0, 16, 0.5)
    height: 13px
    width: 13px
    border-radius: 50%
    position: relative
    top: 5%
    left: 24.5%

    &:hover
        background-color:  #f7f3f3
        border: 1px solid #590010
        transform: scale(1.5,1.5)
        transition: 0.3s 

.menu-circle__2-2
    display: block
    background-color: rgba(89, 0, 16, 0.5)
    height: 13px
    width: 13px
    border-radius: 50%
    position: relative
    top: -3%
    left: 53%

    &:hover
        background-color:  #f7f3f3
        border: 1px solid #590010
        transform: scale(1.5,1.5)
        transition: 0.3s 

.menu-circle__2-3
    display: block
    background-color: rgba(89, 0, 16, 0.5)
    height: 13px
    width: 13px
    border-radius: 50%
    position: relative
    top: 8%
    left: 83%

    &:hover
        background-color:  #f7f3f3
        border: 1px solid #590010
        transform: scale(1.5,1.5)
        transition: 0.3s 

.menu-circle__2-4
    display: block
    background-color: rgba(89, 0, 16, 0.5)
    height: 13px
    width: 13px
    border-radius: 50%
    position: relative
    top: 30%
    left: 97.5%

    &:hover
        background-color:  #f7f3f3
        border: 1px solid #590010
        transform: scale(1.5,1.5)
        transition: 0.3s 

.menu-circle__2-5
    display: block
    background-color: rgba(89, 0, 16, 0.5)
    height: 13px
    width: 13px
    border-radius: 50%
    position: relative
    top: 55%
    left: 97%

    &:hover
        background-color:  #f7f3f3
        border: 1px solid #590010
        transform: scale(1.5,1.5)
        transition: 0.3s 




 


@media screen and ( max-width: 1024px ) 
    .about .about-signature
        width: 100%
        top: 15%
        left: 70%
        transform: rotate(360deg)
    .signature-features 
        left: 110%
    .about
        overflow: visible
        box-shadow: none
        background-color: transparent
    .about-circle-2
        left: 30%

    .florist-block
        left: 30%
    .curier-block
        left: 30%

    .signature-features 
        top: 30%
        left: 105%
        h3
            font-size: 30px
        h2 
            font-size: 20px
        p 
            font-size: 20px
    .florist
        left: 4%

@media screen and ( max-width: 768px ) 
    .about-circle-2
        top: 70%
        left: 50%
    .florist-block
        top: 70%
        left: 50%
    .curier-block
        top: 70%
        left: 50%
    .about .about-signature
        width: 70%
        z-index: 
        top: 0%
        left: -6%
    .signature-features 
        top: 10%
        left: 15%
        h3
            font-size: 26px
        h2 
            font-size: 18px
        p 
            font-size: 18px
    .curier-block
        .signature-features 
            top: 0%
            left: 50%
            h3
                margin-bottom: -0.5%
           
