#assesories-back-arrow
    position: absolute
    left: 10%
    top: 40%
#assesories-next-arrow
    position: absolute
    left: 90%
    top: 40%
.assesories
    .slide-1
        position: relative
        left: 4.5%
        padding-top: 1%
        img
            width: 40%
        h5 
            font-size: 30px
            font-weight: 500
            color: #590010
            position: absolute
            top: 60%
            left: -10%
        h4 
            font-size: 24px
            color: #590010
            font-weight: 400
            position: absolute
            top: 60%
            left: 40%
        a
            position: absolute
            top: 100%
            left: 0%

            
    .slide-2
        position: relative
        left: 4.5%
        padding-top: 1%
        img
            width: 40%
        h5 
            font-size: 30px
            font-weight: 500
            color: #590010
            position: absolute
            top: 60%
            left: -10%
        h4 
            font-size: 24px
            color: #590010
            font-weight: 400
            position: absolute
            top: 60%
            left: 40%
            margin-bottom: 10px
        a
            position: absolute
            top: 100%
            left: 0%
            
    .slide-3
        position: relative
        left: 4.5%
        padding-top: -5%
        img
            width: 40%
        h5 
            font-size: 30px
            font-weight: 500
            color: #590010
            position: absolute
            top: 60%
            left: -10%
        h4 
            font-size: 24px
            color: #590010
            font-weight: 400
            position: absolute
            top: 60%
            left: 35%
            margin-bottom: 10px
        a
            position: absolute
            top: 100%
            left: 0%
            

