.button-primary
    border-radius: 10px
    color: #f2ecec
    font-size: 18px
    text-decoration: none
    background-color: #590010
    padding: 3px 20px
    &:hover
        transform: scale(1.1,1.1)
        transition: 2
.button-secondary
    border-radius: 10px
    color: #590010
    text-decoration: none
    background-color: #f2ecec
    padding: 5px 20px
    &:hover
        transform: scale(1.1,1.1)
        transition: 2
button
    z-index: 10
    border: none
    outline: none
    background-color: transparent