#careers
    width: 80%
    height: 544px
    position: absolute
    top: 350%
    left: 10%
    box-shadow: -1px 2px 17px 15px rgba(242, 235, 236, 0.63)
    background-color: #f7f3f3
    h2 
        position: absolute
        top: -25%
        left: 45%
        font-size: 50px
        font-weight: 900
        color:#590010
        opacity: 60%
    h5
        position: absolute
        left: 5%
        font-size: 36px
        font-weight: 600
        color:#590010
    img 
        position: absolute
        bottom: 0
        left: 0
    h4
        position: absolute
        left: 60%
        top: 15%
        font-size: 50px
        font-weight: 600
        color:#590010
    h6
        font-size: 24px
        font-weight: 400
        color:#590010
        position: absolute
        top: 35%
        left: 60% 
    a
        position: absolute
        top: 65%
        left: 60%


@media screen and ( max-width: 768px ) 
    #careers
        h2
            left: 35%
        h5 
            left: 20%
        h4 
            left: 35%
            top: 10%
        h6
            font-size: 16px
            left: 20%
            top: 30%
        img 
            width: 80%
        a
            top: 40%