.dote
    position: absolute
    background-color: #590010
    height: 13px
    width: 13px
    border-radius: 50%
    opacity: 50%
    &:hover
        background-color:  #f7f3f3
        border: 1px solid #590010
        transform: scale(1.5,1.5)
        transition: 0.3s  