.fresh-flowers
    width: 100%
    height: 544px
    background-color:#f7f3f3
    position: relative 
    top: 63%
    .slide-1
        position: relative
        left: 3.5%
        img
            width: 40%
        h5 
            font-size: 30px
            font-weight: 500
            color: #590010
            position: absolute
            top: 70%
            left: -15%
        h4 
            font-size: 24px
            color: #590010
            font-weight: 400
            position: absolute
            top: 65%
            left: 40%
        a
            position: absolute
            top: 100%
            left: 0%
    .slide-2
        position: relative
        padding-top: -10%
        left: 3%
        img
            width: 50%
        h5 
            font-size: 30px
            font-weight: 500
            color: #590010
            position: absolute
            top: 70%
            left: -8%
        h4 
            font-size: 24px
            color: #590010
            font-weight: 400
            position: absolute
            top: 65%
            left: 40%
        a
            position: absolute
            top: 100%
            left: 0%
    .slide-3
        position: relative
        padding-top: -2%
        left: 3.5%
        img
            width: 35%
        h5 
            font-size: 30px
            font-weight: 500
            color: #590010
            position: absolute
            top: 70%
            left: -8%
        h4 
            font-size: 24px
            color: #590010
            font-weight: 400
            position: absolute
            top: 65%
            left: 35%
        a
            position: absolute
            top: 100%
            left: 0%
    .slide-4
        position: relative
        left: 4%
        padding-top: 0.5%
        img
            width: 30%
        h5 
            font-size: 30px
            font-weight: 500
            color: #590010
            position: absolute
            top: 70%
            left: -10%
        h4 
            font-size: 24px
            color: #590010
            font-weight: 400
            position: absolute
            top: 65%
            left: 30%
        a
            position: absolute
            top: 100%
            left: 0%
            
#fresh-flowers-back-arrow
    position: absolute
    left: 10%
    top: 50%

#fresh-flowers-next-arrow
    position: absolute
    left: 90%
    top: 50%

@media screen and ( max-width: 1120px ) 
    .fresh-flowers
        .slide-1
            left: 3%
            img
                width: 50%
            h5 
                top: 60%
                left: -5%
            h4 
                top: 60%
                left: 45%
                font-size: 20px
    .fresh-flowers
        .slide-2
            left: 2%
            img
                width: 60%
            h5 
                top: 60%
                left: -3%
            h4 
                top: 60%
                left: 50%
                font-size: 20px
    .fresh-flowers
        .slide-3
            left: 2.5%
            img
                width: 45%
            h5 
                top: 60%
                left: -7%
            h4 
                top: 60%
                left: 45%
                font-size: 20px
    .fresh-flowers
        .slide-4
            left: 4%
            img
                width: 40%
            h5 
                top: 60%
                left: -15%
            h4 
                top: 60%
                left: 30%
                font-size: 20px
@media screen and ( max-width: 920px ) 
    .fresh-flowers
        .slide-1
            left: 2%
            img
                width: 70%
            h5 
                top: 70%
                font-size: 20px
            h4 
                top: 70%
                font-size: 14px
    .fresh-flowers
        .slide-2
            left: 1.5%
            img
                width: 75%
            h5 
                top: 70%
                left: 8%
                font-size: 20px
            h4 
                top: 70%
                left: 55%
                font-size: 14px
    .fresh-flowers
        .slide-3
            left: 2.5%
            img
                width: 60%
            h5 
                top: 70%
                font-size: 20px
            h4 
                top: 70%
                font-size: 14px
    .fresh-flowers
        .slide-4
            left: 3.5%
            img
                width: 55%
            h5 
                top: 70%
                left: -3%
                font-size: 20px
            h4 
                top: 70%
                left: 35%
                font-size: 14px