footer 
    display: flex
    justify-content: space-around
    position: absolute
    height: 40vh
    bottom: -380%
    left: 0
    right: 0
    background-color: #590010
    .right-column
        display: flex
        flex-direction: column
        margin-top: 2%
        h5
            color: #f7f3f3
            font-size: 20px
        a   
            width: 25%
        input
            outline: none
            color: #f7f3f3
            background-color: #590010
            padding: 10px 20px
            border-radius: 10px
            margin-bottom: 30px
            width: 70%
    .left-column
        margin-top: 4%
        a 
            display: block
            margin-top: 15px
            color: #f7f3f3
            text-decoration: none

.social-media
    position: absolute
    bottom: 5%
    left: 15%
    img
        transform: scale(0.7,0.7)
        margin-right: 12px