.header
    overflow: hidden
    height: 80px
    width: 100vw
    background-color: #fff8f8 
    padding-top: 15px
    position: fixed
    top: 0
    left: 0
    right: 0
    box-shadow: -5px 5px 17px 1px rgba(150, 94, 104, 0.2)
    z-index: 100
.header-content
    position: relative 
    right: -3%
    display: flex
    align-content: space-between
    align-items: center
    justify-content: space-around
.header-search
    display: inline
    box-shadow: -5px 5px 17px 1px rgba(150, 94, 104, 0.18)
    width: 134px
    height: 30px
    border-radius: 10px
    border: none
    outline: none
    color:  #590010
    padding-left: 5px
    background-color:#f7f3f3
.menu-links 
    display: inline
    text-decoration: none
    color:  #590010
.logo

.phone-links
    position: relative 
    right: -30%
    display: inline
    text-decoration: none
    color:  #590010
.header-icons
    position: relative
    right: 2%

@media screen and ( max-width: 768px ) 
    .header-search
        display: none
    .menu-links
        display: none 
    .phone-links
        display: none 

@media screen and ( max-width: 1024px ) 
    .menu-links
        position: relative 
        left: 5%
    .logo
        position: relative
        left: 55%
    .header-search
        display: none
    .phone-links
        display: none 