
.hero img
    position: absolute
    left: 50%
    top: 90%
    margin-right: -50%
    transform: translate(-50%, -50%) 


.menu-in-circle-1 
    background-color: #f2ecec
    width: 670px
    height: 662px
    border-radius: 50%
    border: 1px solid #c4a8ac
    opacity: 1
    width: 670px
    height: 662px
    position: absolute  
    left: 50%
    top: 90%
    margin-right: -50%
    transform: translate(-50%, -50%) 

    img
        position: absolute
        left: 50%
        top: 50%
        margin-right: -50%
        transform: translate(-50%, -50%)
    h3 
        position: absolute
        left: 37%
        top: 0%
        font-size: 30px
    p
        display: inline
        position: absolute
        font-size: 16px
        top: 60%
        padding: 10px 10px
        margin-top: 20px
        left: 65%
    a 
        position: absolute
        font-size: 18px
        padding: 3px 20px
        top: 75%
        left: 66.5%


// houseplant
.menu-in-circle-2
    background-color: #f3f5f2
    width: 670px
    height: 662px
    border-radius: 50%
    border: 1px solid #c4a8ac
    opacity: 1
    position: absolute  
    left: 50%
    top: 90%
    margin-right: -50%
    transform: translate(-50%, -50%) 

    img
        width: 70%
        position: relative
        top: 50%
    h3 
        position: relative
        top: -80%
        left: 38%
        font-size: 30px
    p 
        font-size: 16px
        position: relative
        left: 70%
        top: -30%
    a
        position: absolute
        font-size: 18px
        padding: 3px 20px
        top: 75%
        left: 70%


    // soil
.menu-in-circle-3
    background-color: #f7f0e9
    width: 670px
    height: 662px
    border-radius: 50%
    border: 1px solid #c4a8ac
    opacity: 1
    position: absolute  
    left: 50%
    top: 90%
    margin-right: -50%
    transform: translate(-50%, -50%) 

    img
        width: 70%
        position: relative
        top: 50%
    h3 
        position: relative
        top: -95%
        left: 45%
        font-size: 30px
    p 
        font-size: 16px
        position: relative
        left: 10%
        top: -80%
    a
        position: absolute
        font-size: 18px
        padding: 3px 20px
        top: 38%
        left: 10%



    // assesories
.menu-in-circle-4
    background-color: #f3f5f2
    width: 670px
    height: 662px
    border-radius: 50%
    border: 1px solid #c4a8ac
    opacity: 1
    position: absolute  
    left: 50%
    top: 90%
    margin-right: -50%
    transform: translate(-50%, -50%) 

    img
        width: 90%
        position: relative
        top: 50%
    h3 
        position: relative
        top: -78%
        left: 40%
        font-size: 30px
    p 
        font-size: 16px
        position: relative
        left: 15%
        top: -70%
    a
        position: absolute
        font-size: 18px
        padding: 3px 20px
        top: 31%
        left: 15%



    // wedding-bouquets
.menu-in-circle-5
    background-color: #f2ecec
    width: 670px
    height: 662px
    border-radius: 50%
    border: 1px solid #c4a8ac
    opacity: 1
    position: absolute  
    left: 50%
    top: 90%
    margin-right: -50%
    transform: translate(-50%, -50%) 

    img
        width: 90%
        position: relative
        top: 50%
        left: 55%
    h3 
        position: relative
        top: -60%
        left: 32%
        font-size: 30px
    p 
        font-size: 16px
        position: relative
        left: 15%
        top: -55%
    a
        position: absolute
        font-size: 18px
        padding: 3px 20px
        top: 32%
        left: 15%

    // wedding-bouquets
.menu-in-circle-6
    background-color: #f5f2e1
    width: 670px
    height: 662px
    border-radius: 50%
    border: 1px solid #c4a8ac
    opacity: 1
    position: absolute  
    left: 50%
    top: 90%
    margin-right: -50%
    transform: translate(-50%, -50%) 

    img
        width: 55%
        position: relative
        top: 50%
        left: 55%
    h3 
        position: relative
        top: -85%
        left: 45%
        font-size: 30px
    p 
        font-size: 16px
        position: relative
        left: 15%
        top: -55%
    a
        position: absolute
        font-size: 18px
        padding: 3px 20px
        top: 53%
        left: 15%


.circle-2 
    position: absolute
    left: 50%
    top: 90%
    margin-right: -50%
    transform: translate(-50%, -50%)  
    width: 670px
    height: 662px
    border-radius: 50%


.hero .menu-circle__1
    z-index: 10
    background-color: #590010
    height: 13px
    width: 13px
    border-radius: 50%
    position: absolute
    top: 50%
    left: -11.5%
    opacity: 50%
.hero .menu-circle__1:hover
    z-index: 10
    background-color:  #f7f3f3
    border: 1px solid #590010
    transform: scale(1.5,1.5)
    transition: 0.3s  

.hero .menu-circle__2
    z-index: 10
    background-color: #590010
    height: 13px
    width: 13px
    border-radius: 50%
    position: absolute
    top: 25%
    left: -6.5%
    opacity: 50%
.hero .menu-circle__2:hover
    z-index: 10
    background-color:  #f7f3f3
    border: 1px solid #590010
    transform: scale(1.5,1.5)
    transition: 0.3s 


.hero .menu-circle__3
    z-index: 100
    background-color: #590010
    height: 13px
    width: 13px
    border-radius: 50%
    position: absolute
    top: 0%
    left: 13%
    opacity: 50%
.hero .menu-circle__3:hover
    cursor: pointer
    z-index: 100
    background-color:  #f7f3f3
    border: 1px solid #590010
    transform: scale(1.5,1.5)
    transition: 0.3s 
 
.hero .menu-circle__4
    z-index: 10
    background-color: #590010
    height: 13px
    width: 13px
    border-radius: 50%
    position: absolute
    top: -11.5%
    left: 48%
    opacity: 50%
.hero .menu-circle__4:hover
    z-index: 10
    background-color:  #f7f3f3
    border: 1px solid #590010
    transform: scale(1.5,1.5)
    transition: 0.3s 
    
.hero .menu-circle__5
    z-index: 10
    background-color: #590010
    height: 13px
    width: 13px
    border-radius: 50%
    position: absolute
    top: 0%
    left: 85%
    opacity: 50%
.hero .menu-circle__5:hover
    z-index: 10
    background-color:  #f7f3f3
    border: 1px solid #590010
    transform: scale(1.5,1.5)
    transition: 0.3s  

.hero .menu-circle__6
    z-index: 10
    background-color: #590010
    height: 13px
    width: 13px
    border-radius: 50%
    position: absolute
    top: 25%
    left: 105%
    opacity: 50%
.hero .menu-circle__6:hover
    z-index: 10
    background-color:  #f7f3f3
    border: 1px solid #590010
    transform: scale(1.5,1.5)
    transition: 0.3s 

.hero .menu-circle__7
    z-index: 10
    background-color: #590010
    height: 13px
    width: 13px
    border-radius: 50%
    position: absolute
    top: 50%
    left: 110%
    opacity: 50%
.hero .menu-circle__7:hover
    z-index: 10
    background-color:  #f7f3f3
    border: 1px solid #590010
    transform: scale(1.5,1.5)
    transition: 0.3s 





@media screen and ( max-width: 1024px ) 
    .hero img
        width: 90%
    .circle-2 
        z-index: 10
        width: 603px
        height: 596px
    .hero .menu-circle__1
        top: 50%
        left: -6.5%
    .hero .menu-circle__2
        left: -1.5%
    .hero .menu-circle__3
        left: 14%
        top: 6%
    .hero .menu-circle__4
        top: -6.5%
    .hero .menu-circle__5
        top: 6%
        left: 84.5%
    .hero .menu-circle__6
        left: 99%
    .hero .menu-circle__7
        left: 104.5%


    .menu-in-circle-1 img
        width: 75%
    .menu-in-circle-2 img
        width: 70%
    .menu-in-circle-3 img
        width: 70%
    .menu-in-circle-6 img
        width: 55%


@media screen and ( max-width: 768px ) 
    .hero img
        width: 90%
    .menu-in-circle-1
        width: 503px
        height: 506px
    .menu-in-circle-2
        width: 503px
        height: 506px
    .menu-in-circle-3
        width: 503px
        height: 506px
    .menu-in-circle-4
        width: 503px
        height: 506px
    .menu-in-circle-5
        width: 503px
        height: 506px
    .menu-in-circle-6
        width: 503px
        height: 506px
    .menu-in-circle-7
        width: 503px
        height: 506px

    .circle-2 
        z-index: 10
        width: 543px
        height: 506px

    .hero .menu-circle__1
        top: 50%
        left: 2.5%
    .hero .menu-circle__2
        left: 8%
    .hero .menu-circle__3
        left: 24.5%
        top: 6%
    .hero .menu-circle__4
        top: -1.5%
    .hero .menu-circle__5
        top: 6%
        left: 72.5%
    .hero .menu-circle__6
        left: 90%
    .hero .menu-circle__7
        left: 95%


    // .menu-in-circle-1 img
    //     width: 65%
    .menu-in-circle-1 
        p
            font-size: 14px
            left: 60%
        img
            width: 65%
        a 
            left: 62%
            top: 80%
    .menu-in-circle-2 
        img
            width: 70%
            left: 48%
        p
            font-size: 14px
            left: 65%
            top: -40%
        a
            left: 65%
            top: -38%
    .menu-in-circle-3 img
        width: 70%

    .menu-in-circle-4 
        img
            top: 58%
    .menu-in-circle-5
        h3 
            left: 28%
        img
            top: 58%
    .menu-in-circle-6 
        img
            width: 55%
        p 
            left: 8%
        a
            left: 8%
