@import 'houseplant'
@import 'flower'
@import 'gifs'
@import 'assesories'
@import 'bouquets'
@import 'soil'
    
.offer
    width: 80%
    height: 544px
    box-shadow: -1px 2px 17px 15px rgba(242, 235, 236, 0.63)
    background-color:#f7f3f3
    position: relative 
    top: 55%
.offer-header
    position: relative
    top: -30%
    display: flex
    flex-direction: column
    width: 100%
    h3 
        margin: auto
        margin-bottom: 2%
        font-size: 50px
        font-weight: 900
        color: #590010
        opacity: 60%
    .menu-offer
        display: flex
        justify-content: space-around
        width: 80%
        margin: auto
        padding-bottom: 20px
        border-bottom: 1px solid rgba(89, 0, 16, 0.2)
        a 
            text-decoration: none
            color: #590010
            font-size: 24px
            
// dotes
.menu-circle__3-1
    display: block
    height: 13px
    width: 13px
    background-color: #590010
    border-radius: 50%
    position: absolute
    bottom: -5%
    left: 17%
    &:hover
        background-color:  #f7f3f3
        border: 1px solid #590010
        transform: scale(1.5,1.5)
        transition: 0.3s 
.menu-circle__3-2
    display: block
    height: 13px
    width: 13px
    background-color: #590010
    border-radius: 50%
    position: absolute
    bottom: -5%
    left: 31.5%
    &:hover
        background-color:  #f7f3f3
        border: 1px solid #590010
        transform: scale(1.5,1.5)
        transition: 0.3s 
.menu-circle__3-3
    display: block
    height: 13px
    width: 13px
    background-color: #590010
    border-radius: 50%
    position: absolute
    bottom: -5%
    left: 41.5%
    &:hover
        background-color:  #f7f3f3
        border: 1px solid #590010
        transform: scale(1.5,1.5)
        transition: 0.3s 
.menu-circle__3-4
    display: block
    height: 13px
    width: 13px
    background-color: #590010
    border-radius: 50%
    position: absolute
    bottom: -5%
    left: 52%
    &:hover
        background-color:  #f7f3f3
        border: 1px solid #590010
        transform: scale(1.5,1.5)
        transition: 0.3s 
.menu-circle__3-5
    display: block
    height: 13px
    width: 13px
    background-color: #590010
    border-radius: 50%
    position: absolute
    bottom: -5%
    left: 69%
    &:hover
        background-color:  #f7f3f3
        border: 1px solid #590010
        transform: scale(1.5,1.5)
        transition: 0.3s 
.menu-circle__3-6
    display: block
    height: 13px
    width: 13px
    background-color: #590010
    border-radius: 50%
    position: absolute
    bottom: -5%
    left: 81.5%
    &:hover
        background-color:  #f7f3f3
        border: 1px solid #590010
        transform: scale(1.5,1.5)
        transition: 0.3s 




.slider
    width: 100%
    position: absolute
    top: 110%
    left: 0%

@media screen and ( max-width: 768px ) 
    .offer-header
        .menu-offer
            a 
                font-size: 12px

@media screen and ( max-width: 1120px ) 
    .offer-header
        .menu-offer
            a 
                font-size: 20px
    .menu-circle__3-6
        left: 44%
    .menu-circle__3-6
        left: 83%