#soil-back-arrow
    position: absolute
    left: 10%
    top: 40%
#soil-next-arrow
    position: absolute
    left: 90%
    top: 40%
.soil
    .slide-1
        position: relative
        left: 35%
        padding-top: 1%
        img
            width: 35%
        h5 
            font-size: 30px
            font-weight: 500
            color: #590010
            position: absolute
            top: 60%
            left: -15%
        h4 
            font-size: 24px
            color: #590010
            font-weight: 400
            position: absolute
            top: 60%
            left: 35%
        a
            position: absolute
            top: 100%
            left: 0%

            