@import 'grid'
@import 'header'
@import 'hero'
@import 'about'
@import 'offer'
@import 'button'
@import 'careers'
@import 'footer'

body 
    margin: 0 0 0 0
    background-color:  #f7f3f3
    overflow-x: hidden




.main
    background-image: url('../img/bg.png')
    background-size: 100%
    width: 100vw
    height: 450vh



